<div class="container">
  <h1>{{ nome }}</h1>
  <h1>{{ dataAniversario }}</h1>
  <h1>{{ preco }}</h1>
  <h1>{{ troco }}</h1>
  <br>
  <h1>========================</h1>
  <h1>PIPE</h1>
  <h1>========================</h1>
  <br>
  <h1>{{ nome | uppercase }}</h1>
  <h1>{{ dataAniversario | date }}</h1>
  <h1>{{ preco | number }}</h1>
  <h1>{{ troco | currency }}</h1>
  <br>
  <h1>========================</h1>
  <h1>PIPE Parametros</h1>
  <h1>========================</h1>
  <br>
  <h1>{{ nome | uppercase }}</h1>
  <h1>{{ dataAniversario | date:'dd/MM/y' }}</h1>
  <h1>{{ preco | number: '1.2-2' }}</h1>
  <h1>{{ troco | currency:'BRL':true: '1.2-2' }}</h1>
</div>
